<%= render partial: "shares/header", locals: { session_user: @session_user } %>

<div class="container-fluid page-container">
  <h2>Edit Listing</h2>

  <%= form_for(:listing, :url => {:action => 'update', :id => @listing.id}) do |f| %>

  <div class="new-listing" summary="Listing form fields">
    <div class="row">
      <div class="col-xs-6 col-md-4">Name</div>
      <div class="col-xs-12 col-md-8"><%= f.text_field(:name, class: "input-group form-control") %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">Description</div>
      <div class="col-xs-12 col-md-8"><%= f.text_field(:description, :maxlength => 200, class: "input-group form-control") %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">Price</div>
      <div class="col-xs-12 col-md-8"><%= f.text_field(:price, class: "input-group form-control") %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4"> <%= f.label :avatar %></div>
      <div class="col-xs-12 col-md-8"> <%= f.file_field :avatar %></div>
    </div>
  </div>

  <br />

  <div>
    <%= submit_tag "Edit Listing", class: "btn btn-default new-listing-button" %>
  </div>

  <% end %>

  <hr class="faded" />

  <%= link_to("Head on back", {:action => 'index'}, :class => 'back-link') %>
</div>
