



<div class="page-header">
  <h1>
    <div class="headleft">
      <%= link_to image_tag('medium/unilifelogo.jpg'), {:action => 'index'}  %>
      <br>
      <small><%= link_to "Where teams come true", {:action => 'index'} %></small>
    </div>

    <div class="headright">
      <%= image_tag("medium/taskbar.jpg", :alt => "rss feed") %>
    </div>
    <div class="headcenter">
      <h3>
        <%= form_tag listings_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search]   %>
        <%= submit_tag("search")  %>
        <% end %>
      <h3>
    </div>
  </h1>
</div>

  <div class="pull-right">
    <%= link_to "Log Out", {:controller => 'access', :action => 'logout'}, class: 'btn btn-default header-button' %>
  </div>

<div class="catcenter">
  <%= link_to image_tag('medium/listings.png', :size => "237x83"), {:action => 'index'}  %>
  <%= link_to image_tag('medium/groups.png', :size => "237x83"), {:action => 'index'}  %>
  <%= link_to image_tag('medium/categories.png', :size => "237x83"), {:action => 'index'}  %>
  <%= link_to image_tag('medium/createlisting.png', :size => "237x83"), {:action => 'new'}  %>

</div>

<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">

  <h2>Listings</h2>

  <%= link_to("Add new listing", {:action => 'new'}, :class => 'action new') %>

  <% @listings.each do |listing| %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to(listing.name, {:action => 'show', :id => listing.id}, :class => 'action show')%></div>
    <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <%=image_tag(@avatar)%>
        </div>

      <div class="col-xs-9">
        <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Description</th>
            <th>Price</th>
            <th>Posted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= listing.description %></td>
            <td><%= listing.price %></td>
            <td><%= listing.created_at %></td>

              <td><%= link_to("Edit", {:action => 'edit', :id => listing.id}, :class => 'action edit')%></td>
              <td><%= link_to("Delete", {:action => 'delete', :id => listing.id}, :class => 'action delete')%>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
    </div>
    </div>
  </div>
<% end %>




</div>



      <hr class="faded"/>

    </div>
</div>
