<%= render partial: "shares/header", locals: { session_user: @session_user } %>

<div class="container-fluid page-container">
  <h2>Create Listing</h2>

  <%= form_for(:listing, :url => {:action => 'create'}) do |f| %>

  <div class="new-listing" summary="Listing form fields">
    <div class="row">
      <div class="col-xs-6 col-md-4 greg">Name</div>
      <div class="col-xs-12 col-md-8"><%= f.text_field(:name, class: "input-group form-control") %></div>
    </div>
    <%= f.fields_for(:category) do |c| %>
    <div class="row">
      <div class="col-xs-6 col-md-4">Category</div>
      <div class="col-xs-12 col-md-8"><%= c.select(:category, options_for_select(@categories.all), class: "input-group form-control") %></div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6 col-md-4">Description</div>
      <div class="col-xs-12 col-md-8"><%= f.text_field(:description, class: "input-group form-control") %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">Price</div>
      <div class="col-xs-12 col-md-8"><%= f.text_field(:price, class: "input-group form-control") %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4"><%= f.label :avatar, class: 'control-label'  %></div>
      <div class="col-xs-12 col-md-8"> <%= f.file_field :avatar %></div>
    </div>
  </div>

  </br>

  <div>
    <%= submit_tag "Create Listing", class: "btn btn-default new-listing-button" %>
  </div>

  <% end %>
  <hr class="faded"/>

  <%= link_to("Head on back", {:action => 'index'}, :class => 'back-link') %>

</div>
