<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>




<div><%= form_for(:user, :url => {:action => 'update'}) do |f| %>

  <%#= render 'shared/error_messages' %>

  <table summary="Access form fields">
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name, class: "input-group form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:middle_name) %></th>
    <td><%= f.text_field(:middle_name, class: "input-group form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name, class: "input-group form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:birth_date) %></th>
    <td><%= f.date_select(:birth_date, :order => [:day, :month, :year], class: "btn btn-default dropdown-toggle") %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email, class: "input-group form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password, class: "input-group form-control") %></td>
  </tr>
  <tr>
    <th><%= f.label(:avatar) %></th>
    <td><%= f.file_field :avatar %>
</tr>
</table>

  <%= f.submit 'Edit', class: "btn btn-primary" %>
  <% end %>

  <%= link_to "destroy", :controller => :users, :action => :destroy, data: { confirm: "Are you sure you want to do that?"} %>



</div>
