<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>

<% form_for (@session_user) do |f| %>

  <%= render 'shared/error_messages' %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>


<% f.fields_for (@units) do |unit_of_study_form| %>

  <%= unit_of_study_form.label :name, "Unit of Study name" %>
  <%= unit_of_study_form.text_field :name %>

<% end %>

  <%= session_user_form.submit 'Edit' %>


<% end %>
