<div class="page-header">
    <div class="headleft">
      <%= link_to image_tag('medium/unilifelogo.jpg'), {:action => 'index'}  %>
      <br>
      <small><%= link_to "Where teams come true", {:action => 'listings/index'} %></small>
    </div>
    <br>

    <div class="headright">
     <%= image_tag("medium/taskbar.jpg", :alt => "rss feed") %>
    </div>

    <div class="headcenter">
      <%= form_tag listings_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search]   %>
      <%= submit_tag("search")  %>
      <% end %>
    </div>
</div>

<div class="container-fluid">
  <div><%= form_for(:user, :url => {:action => 'update'}) do |f| %>

    <%#= render 'shared/error_messages' %>
    <h2>Edit Profile</h2>
    <div class="user-info">
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:first_name) %></div>
        <div class="col-xs-12 col-md-8"><%= f.text_field(:first_name, class: "input-group form-control") %></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:middle_name) %></div>
        <div class="col-xs-12 col-md-8"><%= f.text_field(:middle_name, class: "input-group form-control") %></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:last_name) %></div>
        <div class="col-xs-12 col-md-8"><%= f.text_field(:last_name, class: "input-group form-control") %></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:birth_date) %></div>
        <div class="col-xs-12 col-md-8"><%= f.date_select(:birth_date, :order => [:day, :month, :year], class: "btn btn-default dropdown-toggle") %></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:email) %></div>
        <div class="col-xs-12 col-md-8"><%= f.text_field(:email, class: "input-group form-control") %></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:password) %></div>
        <div class="col-xs-12 col-md-8"><%= f.password_field(:password, class: "input-group form-control") %></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4"><%= f.label(:avatar) %></div>
        <div class="col-xs-12 col-md-8"><%= f.file_field :avatar %>
      </div>
    </div>
  </div>


    <br/>
    <%= f.submit 'Confirm changes', class: "btn btn-primary" %>
    <%= link_to "Delete your profile", 'delete_profile', :class => "btn btn-default" %>
    <% end %>

</div>


</div>
