<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class="user-profile">
  <h2>User Profile</h2>

  <%= link_to("Edit your profile", {:action => 'edit'}, :class => 'profile-edit') %>
  <%= link_to "Manage your listings", 'listings/show_user' %>

  <table class="user-info" summary="User Information">

    <tr class="header">
      <th>Name</th>
      <th>Email address</th>
      <th>Birth Date</th>
      <th>Profile Picture</th>
      <th>Enrolled units of study</th>
    </tr>



    <tr>
      <td><%=@name%></td>
      <td><%=@session_user.email%></td>
      <td><%=@session_user.birth_date%></td>
      <td><%= image_tag(@avatar)%></td>

      <% @units.each do |unit| %>
        <td><%=unit.name%></td>
      <% end %>
    </tr>

  </table>

  <%= link_to("Log Out", {:controller => 'access', :action => 'logout'}) %>

</div>
