<%= render partial: "shares/header", locals: { session_user: @session_user } %>


<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class="container-fluid">

  <h2>User Profile</h2>

  <div class="user-info" summary="User Information">
    <div class="row">
      <div class="col-xs-6 col-md-4">Name</div>
      <div class="col-xs-12 col-md-8"><%=@name%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Email Address</div>
      <div class="col-xs-12 col-md-8"><%=@session_user.email%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Birth Date</div>
      <div class="col-xs-12 col-md-8"><%=@session_user.birth_date%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Profile Picture</div>
    <span class="helper"></span>  <div class="col-xs-12 col-md-8"><%= image_tag(@avatar)%></div>
    </div>
  </div>

  <br />

  <%= link_to("Edit your profile", {:action => 'edit'}, :class => 'btn btn-default edit-profile-button') %>
  <%= link_to "Manage your listings", 'listings/show_user', :class =>  'btn btn-default edit-profile-button' %>

  <hr class="faded" />

  <%= link_to("Log Out", {:controller => 'access', :action => 'logout'}) %>

</div>
