<% @page_title = "Login" %>

  <h1>
 <div class="login_logo">
      <br>
    <%= image_tag('medium/loginlogo.jpg')  %>
    <br>
    
    </h1>
   <div class="login">
      <%= form_tag(:action => 'attempt_login') do %>
        <table>
        <tr class="spaceUnder">
          <td><%= label_tag(:email) %></td>
          <td><%= text_field_tag :email, nil, class: "input-group form-control" %></td>
        </tr>
        <tr class="spaceUnder">
          <td><%= label_tag(:password) %></td>
          <td><%= password_field_tag :password, nil, class: "input-group form-control" %></td>
        </tr>
      </table>
      <%= submit_tag "Log in", :class=> 'btn btn-default' %>
      <% end %>
      <hr class="faded" />


        <div>
          <h3>Don't have an account?</h3>
          <%= button_to "Register", {:action => 'register'}, :class=> 'btn btn-default' %>
        </div>
      </div>

