<% @page_title = "Login" %>

<div class="page-header">
    <h1>
      <%= link_to "UniLife", {:action => 'index'} %>
      <small><%= link_to "Where teams come true", {:action => 'index'} %></small>
    </h1>
  </div>

  <div class="login">
      <%= form_tag(:action => 'attempt_login') do %>
        <table>
        <tr class="spaceUnder">
          <td><%= label_tag(:email) %></td>
          <td><%= text_field_tag :email, nil, class: "input-group form-control" %></td>
        </tr>
        <tr class="spaceUnder">
          <td><%= label_tag(:password) %></td>
          <td><%= password_field_tag :password, nil, class: "input-group form-control" %></td>
        </tr>
      </table>
      <%= submit_tag "Log in", :class=> 'btn btn-default' %>
      <% end %>
      <hr class="faded" />


        <div>
          <h3>Don't have an account?</h3>
          <%= button_to "Register", {:action => 'register'}, :class=> 'btn btn-default' %>
        </div>
      </div>

