<div class="page-header">
  <h1>
    <div class="headleft">
      <%= link_to image_tag('medium/unilifelogo.jpg'), {:action => 'index'}  %>
      <br>
      <small><%= link_to "Where teams come true", {:action => 'index'} %></small>
    </div>
    <br>
     
    <div class="headright">    
     <%= image_tag("medium/taskbar.jpg", :alt => "rss feed") %>
    </div>

    <div class="headcenter">
      <h4>
      <%= form_tag listings_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search]   %>
      <%= submit_tag("search")  %>
      <% end %>
      </h4>
    </div>  
  </h1>
</div>

<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class="container-fluid">
  <h2>User Profile</h2>


  <div class="user-info" summary="User Information">
    <div class="row">
      <div class="col-xs-6 col-md-4">Name</div>
      <div class="col-xs-12 col-md-8"><%=@name%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Email Address</div>
      <div class="col-xs-12 col-md-8"><%=@session_user.email%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Birth Date</div>
      <div class="col-xs-12 col-md-8"><%=@session_user.birth_date%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Profile Picture</div>
      <div class="col-xs-12 col-md-8"><%= image_tag(@avatar)%></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">Enrolled Units of Study</div>
        <% @units.each do |unit| %>
          <div class="col-xs-12 col-md-8"><%=unit.name%></div>
        <% end %>
    </div>
  </div>
  <br />
  <%= link_to("Edit your profile", {:action => 'edit'}, :class => 'btn btn-default edit-profile-button') %>
  
  <hr class="faded" />
  
  <%= link_to("Log Out", {:condivoller => 'access', :action => 'logout'}, :class => 'back-link') %>
</div>

