<%= render partial: "shares/header", locals: { session_user: @session_user } %>

<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class="container-fluid">
    <div class ="photo">
      <%= image_tag(@avatar)%>
    </div>
    <p> Print thing <%= puts @avatar %></p>
    <div class="categories index">
      <h2>Categories</h2>

      <%= @toplevel_categories.name %>



      <table class="category" summary="Category list" width="inherit">
        <tr class="header">
          <th>Name</th>
          
        </tr>
        <% @categories.each do |category| %>
        <tr>
          <td class="center"><%= category.name %></td>

          <td class="actions">
            <%= link_to "Show", {:action => 'show', :id => category.id}, :class => 'action show'   %>

          </td>


        </tr>
        <% end %>
      </table>

      <br />
      <hr class="faded"/>

    </div>
</div>