<<<<<<< HEAD
<%= render partial: "shares/header", locals: { session_user: @session_user } %>
=======

<div class="page-header">
  <h1>
    <div class="headleft">
      <%= link_to image_tag('medium/unilifelogo.jpg'), {:action => 'index'}  %>
      <br>
      <small><%= link_to "Where teams come true", {:action => 'index'} %></small>
    </div>

    <div class="headright">
      <%= image_tag("medium/taskbar.jpg", :alt => "rss feed") %>
    </div>
    <div class="headcenter">
      <h3>
        <%= form_tag listings_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search]   %>
        <%= submit_tag("search")  %>
        <% end %>
      <h3>
    </div>
  </h1>
</div>

  <div class="pull-right">
    <%= link_to "Log Out", {:controller => 'access', :action => 'logout'}, class: 'btn btn-default header-button' %>
  </div>

<div class="catcenter">
  <%= link_to image_tag('medium/listings.png', :size => "237x83"), {:action => 'index'}  %>
  <%= link_to image_tag('medium/groups.png', :size => "237x83"), {:action => 'index'}  %>
  <%= link_to image_tag('medium/categories.png', :size => "237x83"), {:action => 'index'}  %>
  <%= link_to image_tag('medium/createlisting.png', :size => "237x83"), {:action => 'new'}  %>

</div>
>>>>>>> 97a1ad5e7ba75bc9a565a8caac2f3266407439b4

<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class="container-fluid">
    <!--<div class ="photo">
      <%= image_tag(@avatar)%>
    </div>
    <p> Print thing <%= puts @avatar %></p>-->
    <div class="categories index">
      <h2>Category: <%= @category.name %></h2>
      <p> Category parent: <%= @category.parent_category_id %> </p>
      <p> Subcategories: <%= @subcategories %> </p>





      <table class="subcategories" summary="Category list" width="inherit">
        <tr class="header">
          <th>Name</th>
          
        </tr>
        <% @subcategories.each do |subcategory| %>
        <tr>
          <td class="center"><%= subcategory.name %></td>

          <td class="actions">
            <%= link_to "Show", {:action => 'show', :id => subcategory.id}, :class => 'action show'   %>

          </td>


        </tr>
        <% end %>
      </table>

      <br />
      <hr class="faded"/>

    </div>
</div>