<h1>UserProfile#view</h1>
<p>Find me in app/views/user_profile/view.html.erb</p>



<% if !flash[:notice].blank? %>
  <div class="notice">
      <%= flash[:notice] %>
  </div>
<% end %>

<div class ="photo">
  <%= image_tag(@avatar)%>

</div>
<div class="user-profile">
  <h2>User Profile</h2>

  <%= link_to("Edit your profile", {:action => 'edit'}, :class => 'profile-edit') %>

  <table class="user-info" summary="User Information">

    <tr class="header">
      <th>Name</th>
      <th>Email address</th>
      <th>Birth Date</th>
      <th>Profile Picture</th>
    </tr>

    <tr>
      <td><%=@session_user.first_name + " " + @session_user.last_name%></td>

      <td><%=@session_user.email%></td>
      <td><%=@session_user.birth_date%></td>

    </tr>

  </table>

  br />
  <%= link_to("Log Out", {:controller => 'access', :action => 'logout'}) %>

</div>
